AlbumList, TrackList {
    height: 1fr;
    border: round $foreground;
    background: $background;
    background-tint: $background;
    scrollbar-size: 1 1;

    &:focus {
        border: round $primary;
    }
}

AlbumList {
    width: 0.5fr;
}

TrackList {
    width: 0.5fr;
}

Footer {
    background: $background;
}

UpdateCollectionModal {
    align: center middle;

    Label {
        border: round $foreground;
        padding: 0 1;
        content-align: center middle;
    }
}

Bar {
    width: 1fr;
}

StatusBar {
    height: 1;
    grid-size: 6;
    grid-columns: auto auto auto auto auto 1fr;
}

.statusbar--separator {
}
.statusbar--title {
    color: $accent;
}
.statusbar--artist {
    color: $accent;
}
.statusbar--album {
    color: $accent;
}
.statusbar--time {
    text-align: right;
}
